.search-results {
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.search-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; 
}