@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.review-form-container {
  margin-top: 1rem;
  background-color: $color-bg;
  border-radius: 1rem;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h3 {
    color: $color-accent-dark;
    margin: 0;
    font-size: 1.2rem;
  }

  textarea {
    height: 100px;
    padding: 0.25rem;
    font-family: $font-body;
    font-size: 1rem;
    border: 1px solid $color-border;
    border-radius: 0.25rem;
    background-color: $color-bg;
    color: $color-text;
  }

  input[type='number'] {
    width: 80px;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border: 1px solid $color-border;
    border-radius: 0.25rem;
    background-color: $color-bg;
    color: $color-text;
  }

  button {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: $color-accent;
    color: $color-bg;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
          background-color: $color-accent-dark; 
    }
  }
}
