@import './variables';
@import './mixins';

.component {
  padding: $spacing-unit;
  border: 1px solid $color-border;
  background-color: $color-bg-dark;
  border-radius: 0.5rem;

  h2 {
    @include fancy-heading;
    margin-bottom: $spacing-unit;
  }

  &__content {
    @include flex-center;
    flex-direction: column;
  }
}
