@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.review-display {
  font-family: $font-body;
  display: flex;
  flex-direction: column;
  align-items: start;

  p {
    line-height: 1.5;
    margin: 0;

    strong {
      color: $color-accent;
    }
  }

  &-rating {
    color: $color-accent;
    font-size: 1.1rem;
  }

  &-text {
    font-style: italic;
  }

}