@use '../styles/variables.scss' as *;

.header {
  padding: 0.5rem 0;
  background-color: $color-bg-dark;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar-link {
  font-family: $font-body;
  font-size: 1rem;
  color: $color-bg;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  background-color: $color-accent; 
  border-radius: 0.25rem;

  &:hover {
    background-color: $color-accent-dark; 
    color: $color-bg;
    border-radius: 0.25rem;
  }

  &:focus {
    outline: 2px solid $color-accent-light; 
  }
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-dark;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    gap: 1rem;
    text-align: center;  
  }

  .search-bar-container {
    margin-top: 1rem;  
  }

  .search-bar {
    width: 90%;  
    max-width: 400px; 
  }
}
